@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
  transition: all 150ms linear;
  text-align: center;
}

body,
html {
  width: 100vw;
  height: 100vh;
  color: white;
  background: linear-gradient(to bottom right, rgb(0, 0, 155), rgb(146, 17, 146));
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.instruction {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: start;
}

.hello {
  align-self: center;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 50%;
}

#player1,
.controls,
#player2 {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#player1,
#player2,
.controls {
  width: 25%;
}

#player1,
#player2 {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
#player1 .player1-current,
#player1 .player2-current,
#player2 .player1-current,
#player2 .player2-current {
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  height: 50%;
  margin: 0 auto;
  border-radius: 20px;
  color: purple;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#player1-current-score,
#player2-current-score,
#player1-total-score,
#player2-total-score {
  font-size: 2rem;
}

button {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 100px;
  font-weight: bold;
  font-size: 1.2rem;
  border: 3px solid transparent;
  cursor: pointer;
}
button:hover {
  border-color: rgba(255, 255, 255, 0.5);
  color: white;
  background-color: transparent;
}

#dice-value {
  visibility: hidden;
}

#player1.active,
#player2.active {
  border: 5px solid #9ecaed;
  border-color: #9ecaed;
  box-shadow: 0 0 20px #9ecaed;
}

.win {
  position: absolute;
  background: radial-gradient(circle at center, blue, purple 100%);
  height: 100vh;
  width: 100vw;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  main {
    width: 95%;
    margin: 0 auto;
  }
  .instructions {
    height: 40%;
  }
  .stats {
    flex-wrap: wrap;
    height: 60%;
  }
  #player1,
  #player2 {
    width: 40%;
    font-size: 1rem;
  }
  #player1 {
    order: 1;
    height: 70%;
  }
  #player2 {
    order: 2;
    height: 70%;
  }
  .controls {
    flex-direction: row;
    width: 100%;
    height: 30%;
    gap: 0.5rem;
    order: 0;
    justify-content: space-between;
  }
  .controls::after {
    content: "";
    display: block;
    width: 0%;
  }
}

/*# sourceMappingURL=styles.css.map */
